{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="box">
      <div class="col-md-4">
        <div class="well">
          <img src="{{ url_for('static', filename='img/profile_pic.jpg') }}" class="img-responsive img-full" alt="">
        </div>
      </div>
      <div class="col-md-8">
        <hr>
        <h2 class="intro-text text-center">About Me</h2>
        <hr>
        <hr class="visible-xs">
        <p>I love software. Back in high school, I downloaded and ran a piece of memory scanning software titled "Cheat Engine" in order to hack on web-based flash games; as I watched the stream of hexadecimal addresses flying through the GUI frame, I instantly knew I need to understand what computer wizardry was permitting me to have 9999 attack points.</p>
        <p>This interest and passion grew and has now reached far beyond the question of what is happening behind the scenes of a flash game.</p>
        <p>I want to know how we, the human race, think and perceive reality. Artificial Intelligence, Computer Vision, Game Theory, Natural Language Processing, etc. These fields are more than tech, they're a study and an implementation of humanity's greatest reaches into the realm of logic.</p>
        <p>There isn't a math I enjoy more, and it's why I'll program for work and hobby.</p>
        <p>I hope to always work with smart people who enjoy the task of making the menial into cerebral.</p>
      </div>
    </div>
  </div>
{% endblock %}
