<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My Portfolio">
    <meta name="author" content="Greg Ziegan">
    <title>{% block title %}A coding &amp; music blog{% endblock %}</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/business-casual.css') }}" rel="stylesheet">
    {% block css_links %}{% endblock %}
    <style>{% block css %}{% endblock %}</style>
  </head>

{% block custom_content %}
  <body>
    <div class="brand">Greg Ziegan</div>
    <div class="address-bar">Code / Music / Design</div>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Portfolio</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li><a href="{{ url_for('about') }}">About</a>
                    </li>
                    <li><a href="{{ url_for('blog') }}">Blog</a>
                    </li>
                    <li><a href="{{ url_for('resume') }}">Résumé</a>
                    <li><a href="{{ url_for('contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">
        {% block javascript %}{% endblock %}
    </script>
  </body>
{% endblock %}
</html>
