{% extends 'base.html' %}

{% block content %}
{% if g.user and g.user.is_admin == 1 %}
<div class="row">
    <a href="{{ url_for('new_blog_post') }}" class="btn btn-primary btn-lg pull-right">New Blog Post <span class="glyphicon glyphicon-plus"></span></a>
</div>
<br>
{% endif %}
<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h2 class="intro-text text-center">Learn about hacking @ PyOhio'14</h2>
      <hr>
      <hr class="visible-xs">
      <p>A few weeks ago, I went to my first tech conference in Columbus, OH. PyOhio had an infectious spirit. Hundreds of developers with vastly varying degrees of experience were all around: chatting, programming, and giving lectures. Everyone was friendly, sociable, and best of all, humble. I cannot speak enough to how great the attitude was at this conference and I recommend anyone with an interest in tech, or really science for that matter, to attend PyOhio next year.</p>
      <p>When I came back home to Cleveland, I put together a presentation for my company to relay some of what I learned with at conference. I talked briefly about Postgres and its centralized notification stream and spent the majority of the time giving a synoposis of my favorite talk of the conference, "The Clean Architecture". I do not believe I did these talks justice (this presentation was given in half the time with much less prep), but I still believe it can relates the largest talking points and takeaways from each talk.</p>
      <br>
      <p><a href="{{ url_for('pyohio_presentation') }}">PyOhio Presentation</a></p>
    </div>
  </div>
</div>
{% for post in blog_posts %}
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">{{ post.title }}</h2>
        <hr>
        <hr class="visible-xs">
        {{ post.content|nl2br }}
        {% if g.user and g.user.is_admin == 1 %}
        <a href="{{ url_for('edit_blog_post', post_id=post.post_id) }}" class="btn btn-info">Edit Post <span class="glyphicon glyphicon-edit"></span></a>
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}
